@using LokiAspnetCore.Classes
@model List<User>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Tags</th>
    </tr>
@foreach (User user in Model)
{
    <tr>
        <td>@user.Name</td>
        <td>@user.Age</td>
        <td>@user.Gender</td>
        <td>
            @foreach(string tag in user.Tags) 
            {
                @tag <br/>
            }
        </td>
    </tr>
}
</table>

