@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>LokiJS / AspNetCore NodeServices sample application</h2>

    <p>Welcome to an example program which implements lokijs service layers which allow use from asp.net core.</p>

    <p>For this program to work correctly:</p>
    <ul>
        <li>You must have the .Net Core SDK 1.1 installed
        <li>You must have node.js already installed</li>
        <li>The Microsoft.AspNetCore.NodeServices library will be automatically installed with dotnet restore</li>
        <li>Optionally, Visual Studio Code or Visual Studio 2017 can be used to continue development on your own.
    </ul>
</div>
